@model wall.Models.Login

<div asp-validation-summary="All"></div>
<form asp-controller="User" asp-action="login" method="post">
    <label asp-for="firstName"></label>
    <input asp-for="firstName">
    <label asp-for="password"></label>
    <input asp-for="password">
    <input type="submit" value="Login">
</form>